*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
#map {
  width: 100%;
  height:100%;
  position: absolute;
}
.pull-right {
    float: right!important;
}
header {
    height: 55px;
    color: white;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0px auto;
    z-index: 999999;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

header .header-wrap {
  margin: 0px auto; 
  position: relative;
}

header .title-text {
    position: absolute;
    left: 20px;
    top: 0px;
    width: auto;
    text-align: center;
    margin: 0px auto;
    text-decoration: none;
    color: #5a5a5a;
    font-weight: bold;
    font-size: 18px;
    line-height: 55px;
}

nav {
    margin-right: 20px;
}    
.nav-item {
    position: relative;
    display: inline-block;
    padding: 0px 11px;
    color: #5a5a5a;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 55px;
}

header .start-button,header .stop-button {
  text-decoration:underline; 
  cursor:pointer;
  font-weight:bold;
}

header .disabled {
  cursor: normal;
  opacity: 0.5;
}

#neighborhood-hover {
  position: absolute;
  top: 65px;
  left:10px;
  z-index:999;
  background: #444;
  color:#fff;
  padding:10px;
  border-radius: 4px;
}

#sidebar {
  width:550px;
  height:100%;
  position: absolute;
  right: 0;
  top: 55px;  
  background: #f5f5f5;
  box-shadow: 0 0 10px #000;
}

#sidebar .sidebar-header {
  height: 130px;
  background: #e6e6e6;
  padding: 25px;
}

#sidebar .sidebar-header h2 {
  margin-top:0;
  font-size: 20px;
  margin-bottom: 5px;
}

#sidebar .data-section {
  padding: 0 30px;
}

#sidebar .data-section h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.4em;
    margin-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px #ccc solid;
}

#summaryCountContainer {
    float: right;
    text-align: right;
}

#neighbourhoodCount, #summaryCount {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 36px;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 1em;
    margin-top:24px;
}

#summaryListingLabel {
    text-align: right;
    font-size: 0.8em;
    margin-top: 2px;
}

.neighborhood-label {
  line-height:24px;
  font-size:14px;
  display:block;
}

#neighborhoodSelector {
  width: 240px;
  margin-top:0;
}


